mat-toolbar {
  height: 10%; 
}

.footer {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
}

mat-icon {
  display: inline-flex; 
  vertical-align: middle; 
  margin-bottom: 5px; 
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray
}

.social {
  list-style: none; 
  padding:0;
  margin: 0; 
}


li {
  display: flex;
  justify-content: center;
  align-items: center; 
}